@layer utilities {
  /* ========== Text utilities */

  /* ---------- Heading */
  .heading-1,
  .heading-2,
  .heading-4,
  .heading-5 {
    @apply font-bold;
  }

  .heading-1 {
    @apply text-5xl tracking-[-0.02em];
  }

  .heading-2 {
    @apply text-[2.5rem] leading-[1.2] tracking-[-0.02em];
  }

  .heading-3 {
    @apply text-[2rem] leading-[1.1] tracking-[2px] font-semibold;
  }

  .heading-4 {
    @apply text-[1.5rem] leading-[1.1];
  }

  .heading-5 {
    @apply text-[1.25rem] leading-[1.4];
  }

  /* ---------- Body */
  .body-regular {
    @apply font-sans text-sm;
  }

  .body-bold {
    @apply body-regular font-bold;
  }

  /* ---------- Tag */
  .tag-regular {
    @apply text-xs uppercase;
  }

  .tag-bold {
    @apply tag-regular font-bold;
  }

  /* ---------- Label */
  .label-regular {
    @apply text-xs;
  }

  .label-semibold {
    @apply text-sm font-semibold uppercase;
  }

  .label-uppercase {
    @apply label-regular uppercase;
  }

  /* ---------- Small */
  .small-regular {
    @apply text-xs;
  }

  .small-bold {
    @apply small-regular font-bold;
  }

  .small-uppercase {
    @apply small-regular uppercase;
  }

  /* ---------- Button */
  .btn-bold {
    @apply text-sm leading-[1.4] tracking-wider font-semibold;
  }

  /* ========== Layout utilities */
  .full-size {
    @apply w-full h-full;
  }
}
