.ais-SizeRefinementList {
  .ais-RefinementList-list {
    @apply grid grid-cols-2 gap-3 p-px;
  }

  .ais-RefinementList-item--selected {
    .ais-RefinementList-label {
      @apply btn--selected;
    }
  }

  .ais-RefinementList-label {
    @apply btn btn-item btn-small;
  }

  .ais-RefinementList-checkbox {
    @apply hidden;
  }

  .ais-RefinementList-labelText {
    @apply m-0;
  }

  .ais-RefinementList-count {
    @apply hidden;
  }
}
